<div class="border-b border-neutral-600 pb-4">
  <div class="container pt-4">
    <nav class="h-20 flex justify-between items-center">
      <form action="" class="min-w-sm relative">
        <input
          (input)="handleSearch($event.target.value)"
          [value]="searchValue()"
          type="text"
          class="w-full bg-neutral-800 text-white text-lg rounded-xl py-4 px-7 focus:outline-none focus:ring-2 focus:ring-orange-500"
          placeholder="ابحث في المقالات..."
        />
        <span
          class="material-icons text-neutral-500 absolute left-3 top-1/2 -translate-y-1/2 text-2xl"
          >search</span
        >
      </form>
      <div>
        <ul class="flex gap-5 items-center">
          @for (tab of getCategoriesTabs; track $index) {
            <li class="">
              <button
                (click)="handleTabClick(tab)"
                class="rounded-2xl px-4 py-3 cursor-pointer"
                [ngClass]="
                  selectedTab() === tab
                    ? 'text-white bg-orange-500'
                    : 'text-neutral-400 bg-neutral-800'
                "
              >
                {{ tab }}
              </button>
            </li>
          }
        </ul>
      </div>
    </nav>
  </div>
</div>
<div class="container py-9">
  <div class="flex justify-between items-center">
    <h5 class="text-white text-lg">
      <span>عرض</span>
      <span> {{ filteredArticles.length }} </span>
      <span>مقالات</span>
    </h5>
    <div
      class="flex items-center gap-1 border border-neutral-800 text-neutral-500 bg-neutral-800 py-2 px-2 rounded-2xl text-2xl"
    >
      <button
        (click)="handleGridToggle('grid')"
        class="material-icons p-3 rounded-2xl cursor-pointer"
        [ngClass]="selectedGridView() === 'grid' ? 'bg-orange-500' : ''"
      >
        grid_view
      </button>
      <button
        (click)="handleGridToggle('list')"
        class="material-icons p-3 rounded-2xl cursor-pointer"
        [ngClass]="selectedGridView() === 'list' ? 'bg-orange-500' : ''"
      >
        reorder
      </button>
    </div>
  </div>
  <!-- Render articles cards -->
  @if (selectedGridView() === 'grid') {
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      @for (article of filteredArticles; track article.id) {
        <div
          class="flex flex-col mt-10 rounded-4xl border-[0.1px] border-neutral-700 overflow-hidden group hover:border-orange-500 cursor-pointer"
        >
          <div class="w-full overflow-hidden">
            <img
              [src]="article.image"
              [alt]="article.title"
              class="group-hover:scale-110 transition-transform duration-300"
            />
          </div>
          <div class="w-full p-8">
            <div class="flex flex-col justify-between h-full">
              <div>
                <div class="flex gap-4 items-center mb-7">
                  <p
                    class="w-fit flex gap-3 items-center px-4 py-1 rounded-full bg-[#f9741628] text-orange-500 border-orange-500"
                  >
                    {{ article.category }}
                  </p>
                  <div class="flex gap-2 items-center text-neutral-400">
                    <span class="material-icons">access_time</span>
                    <span>{{ article.readTime }}</span>
                  </div>
                </div>
                <div>
                  <h3 class="text-white text-4xl mb-4 group-hover:text-orange-500">
                    {{ article.title }}
                  </h3>
                  <p class="text-neutral-400 text-lg">
                    {{ article.excerpt }}
                  </p>
                </div>
              </div>
              <div
                class="flex justify-between items-center mt-7 border-t-[0.1px] border-neutral-700 pt-7"
              >
                <div class="flex gap-3 items-center">
                  <div class="relative size-12 rounded-full">
                    <img
                      class="rounded-full"
                      [src]="article.author.avatar"
                      [alt]="article.author.name"
                    />
                    <p
                      class="absolute bottom-0 left-0 bg-orange-500 rounded-full size-3 border border-neutral-600"
                    ></p>
                  </div>
                  <div>
                    <h5 class="text-white">{{ article.author.name }}</h5>
                    <p class="text-neutral-400">{{ article.author.role }}</p>
                  </div>
                </div>
                <div>
                  <a routerLink="blog" class="text-orange-500 flex items-center gap-3">
                    <span
                      class="group-hover:translate-x-2 transition-transform duration-300 ease-in-out"
                      >قراءة المقال</span
                    >
                    <span class="material-icons">arrow_back</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  } @else {
    @for (article of filteredArticles; track article.id) {
      <div
        class="flex flex-col md:flex-row mt-10 rounded-4xl border-[0.1px] border-neutral-700 overflow-hidden group hover:border-orange-500 cursor-pointer"
      >
        <div class="w-full md:w-1/2 overflow-hidden">
          <img
            [src]="article.image"
            [alt]="article.title"
            class="group-hover:scale-110 transition-transform duration-300"
          />
        </div>
        <div class="w-full md:w-1/2 p-8">
          <div class="flex flex-col justify-between h-full">
            <div>
              <div class="flex gap-4 items-center mb-7">
                <p
                  class="w-fit flex gap-3 items-center px-4 py-1 rounded-full bg-[#f9741628] text-orange-500 border-orange-500"
                >
                  {{ article.category }}
                </p>
                <div class="flex gap-2 items-center text-neutral-400">
                  <span class="material-icons">access_time</span>
                  <span>{{ article.readTime }}</span>
                </div>
              </div>
              <div>
                <h3 class="text-white text-4xl mb-4 group-hover:text-orange-500">
                  {{ article.title }}
                </h3>
                <p class="text-neutral-400 text-lg">
                  {{ article.excerpt }}
                </p>
              </div>
            </div>
            <div class="flex justify-between items-center">
              <div class="flex gap-3 items-center">
                <div class="relative size-12 rounded-full">
                  <img
                    class="rounded-full"
                    [src]="article.author.avatar"
                    [alt]="article.author.name"
                  />
                  <p
                    class="absolute bottom-0 left-0 bg-orange-500 rounded-full size-3 border border-neutral-600"
                  ></p>
                </div>
                <div>
                  <h5 class="text-white">{{ article.author.name }}</h5>
                  <p class="text-neutral-400">{{ article.author.role }}</p>
                </div>
              </div>
              <div>
                <a routerLink="blog" class="text-orange-500 flex items-center gap-3">
                  <span
                    class="group-hover:translate-x-2 transition-transform duration-300 ease-in-out"
                    >قراءة المقال</span
                  >
                  <span class="material-icons">arrow_back</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    }
  }
  <!-- pagination -->
  <div class="flex justify-center items-center mt-20">
    <ul class="flex items-center gap-1">
      <li class="disabled bg-neutral-500 py-3 px-4 rounded-lg">
        <button class="flex items-center">
          <span class="material-icons text-xl">arrow_forward_ios</span>
        </button>
      </li>
      <li class="disabled bg-neutral-500 py-3 px-6 rounded-lg flex items-center">
        <button class="flex items-center">1</button>
      </li>
      <li class="disabled bg-neutral-500 py-3 px-6 rounded-lg flex items-center">
        <button class="flex items-center">2</button>
      </li>
      <li class="disabled bg-neutral-500 py-3 px-6 rounded-lg flex items-center">
        <button class="flex items-center">3</button>
      </li>
      <li class="disabled bg-neutral-500 py-3 px-6 rounded-lg flex items-center">
        <button class="flex items-center">4</button>
      </li>
      <li class="disabled bg-neutral-500 py-3 px-6 rounded-lg flex items-center">
        <button class="flex items-center">5</button>
      </li>
      <li class="disabled bg-neutral-500 py-3 px-4 rounded-lg">
        <button class="flex items-center">
          <span class="material-icons text-xl">arrow_back_ios</span>
        </button>
      </li>
    </ul>
  </div>
  <div class="text-center mt-8">
    <p class="text-neutral-300 text-lg">
      <span>صفحة</span>
      <span class="mx-1">1</span>
      <span class="me-1">من</span>
      <span>5</span>
    </p>
  </div>
</div>
